# Taxi Dataset from AWS S3 using Jupyter notebook

In [15]:
import boto3
import pandas as pd
import pandas_profiling

In [8]:
client = boto3.client('s3')

In [10]:
bucket = "yellowtaxibucket"
file_name = "yellow_tripdata_2020-12.csv"

s3 = boto3.client('s3') 
# 's3' is a key word. create connection to S3 using default config and all buckets within S3

obj = s3.get_object(Bucket= bucket, Key= file_name) 
# get object and file (key) from bucket

df = pd.read_csv(obj['Body'], low_memory=False) # 'Body' is a key word, low_memory - guessing dtypes for each column is very memory demanding

df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-12-01 00:07:13,2020-12-01 00:18:12,1.0,7.60,1.0,N,138,263,1.0,21.5,3.0,0.5,2.50,6.12,0.3,33.92,2.5
1,1.0,2020-12-01 00:41:19,2020-12-01 00:49:45,1.0,1.60,1.0,N,140,263,1.0,8.0,3.0,0.5,2.95,0.00,0.3,14.75,2.5
2,2.0,2020-12-01 00:33:40,2020-12-01 01:00:35,1.0,16.74,2.0,N,132,164,1.0,52.0,0.0,0.5,2.50,6.12,0.3,63.92,2.5
3,2.0,2020-12-01 00:02:15,2020-12-01 00:13:09,1.0,4.16,1.0,N,238,48,1.0,14.0,0.5,0.5,1.00,0.00,0.3,18.80,2.5
4,2.0,2020-12-01 00:37:42,2020-12-01 00:45:11,1.0,2.22,1.0,N,238,41,2.0,8.5,0.5,0.5,0.00,0.00,0.3,9.80,0.0

In [14]:
df.head(100)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-12-01 00:07:13,2020-12-01 00:18:12,1.0,7.60,1.0,N,138,263,1.0,21.5,3.0,0.5,2.50,6.12,0.3,33.92,2.5
1,1.0,2020-12-01 00:41:19,2020-12-01 00:49:45,1.0,1.60,1.0,N,140,263,1.0,8.0,3.0,0.5,2.95,0.00,0.3,14.75,2.5
2,2.0,2020-12-01 00:33:40,2020-12-01 01:00:35,1.0,16.74,2.0,N,132,164,1.0,52.0,0.0,0.5,2.50,6.12,0.3,63.92,2.5
3,2.0,2020-12-01 00:02:15,2020-12-01 00:13:09,1.0,4.16,1.0,N,238,48,1.0,14.0,0.5,0.5,1.00,0.00,0.3,18.80,2.5
4,2.0,2020-12-01 00:37:42,2020-12-01 00:45:11,1.0,2.22,1.0,N,238,41,2.0,8.5,0.5,0.5,0.00,0.00,0.3,9.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2.0,2020-12-01 00:17:15,2020-12-01 00:38:57,1.0,3.56,1.0,N,68,232,2.0,16.5,0.5,0.5,0.00,0.00,0.3,20.30,2.5
96,2.0,2020-12-01 00:45:58,2020-12-01 00:58:43,1.0,3.83,1.0,N,79,48,1.0,13.5,0.5,0.5,2.70,0.00,0.3,20.00,2.5
97,1.0,2020-12-01 00:00:26,2020-12-01 00:07:25,1.0,2.90,1.0,N,137,262,1.0,9.5,3.0,0.5,2.66,0.00,0.3,15.96,2.5
98,1.0,2020-12-01 00:03:45,2020-12-01 00:20:00,1.0,6.90,1.0,N,170,168,2.0,20.5,3.0,0.5,0.00,0.00,0.3,24.30,2.5
99,1.0,2020-12-01 00:06:04,2020-12-01 00:23:52,1.0,10.30,1.0,N,138,162,2.0,30.0,3.0,0.5,0.00,6.12,0.3,39.92,2.5

In [11]:
profile = pandas_profiling.ProfileReport(df)
print(profile)

## Profile dataset using pandas

In [12]:
# run the profile report
profile = df.profile_report(title='Taxi Pandas Profiling Report')
   
# save the report as html file
profile.to_file(output_file="taxi_profiling1.html")
   
# save the report as json file
profile.to_file(output_file="taxi_profiling2.json")

HBox(children=(HTML(value='Summarize dataset'), FloatProgress(value=0.0, max=31.0), HTML(value='')))

HBox(children=(HTML(value='Generate report structure'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Render HTML'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Export report to file'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Render JSON'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Export report to file'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

In [13]:
profile.to_widgets()

HBox(children=(HTML(value='Render widgets'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

# Data quality issues

1. Check that total amount spent on a ride is bigger than 0. Cause: Sometimes negative fare amounts are stored in a database to show for amount refunded due to a variety of reasons e.g. incorrect charge on the card, cancelled, etc.

In [29]:
df.loc[df['total_amount'] < 0]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
90,2.0,2020-12-01 00:12:06,2020-12-01 00:37:49,1.0,11.21,1.0,N,48,89,4.0,-32.00,-0.5,-0.5,0.00,0.00,-0.3,-35.80,-2.5
216,2.0,2020-12-01 00:35:15,2020-12-01 00:37:35,2.0,0.08,1.0,N,141,141,4.0,-3.50,-0.5,-0.5,0.00,0.00,-0.3,-7.30,-2.5
224,2.0,2020-12-01 00:40:16,2020-12-01 00:42:39,1.0,0.80,1.0,N,263,236,3.0,-4.50,-0.5,-0.5,0.00,0.00,-0.3,-8.30,-2.5
271,2.0,2020-12-01 00:14:04,2020-12-01 00:18:14,1.0,0.45,1.0,N,107,107,4.0,-4.50,-0.5,-0.5,0.00,0.00,-0.3,-8.30,-2.5
422,2.0,2020-12-01 01:28:23,2020-12-01 01:28:54,1.0,0.01,1.0,N,230,230,4.0,-2.50,-0.5,-0.5,0.00,0.00,-0.3,-6.30,-2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1449053,NaN,2020-12-28 11:21:10,2020-12-28 11:28:00,NaN,0.54,NaN,NaN,161,163,NaN,-20.60,0.0,-0.5,-2.75,0.00,0.3,-23.85,0.0
1449119,NaN,2020-12-28 12:01:00,2020-12-28 12:16:00,NaN,0.80,NaN,NaN,181,181,NaN,-34.63,0.0,0.5,2.75,0.00,0.3,-31.08,0.0
1450234,NaN,2020-12-28 16:00:59,2020-12-28 16:13:06,NaN,1.96,NaN,NaN,36,37,NaN,-26.66,0.0,0.5,2.75,0.00,0.3,-23.11,0.0
1456376,NaN,2020-12-30 12:50:05,2020-12-30 13:16:37,NaN,12.02,NaN,NaN,41,51,NaN,-52.42,0.0,0.5,2.75,6.12,0.3,-42.75,0.0
1457525,NaN,2020-12-30 16:43:22,2020-12-30 16:53:02,NaN,1.34,NaN,NaN,159,168,NaN,-21.15,0.0,0.5,2.75,0.00,0.3,-17.60,0.0

2. Check that total_amount is calculated correctly

In [65]:
sum_values = df['fare_amount']+ df['extra'] + df['mta_tax'] + df['tip_amount'] + df['tolls_amount'] + df['improvement_surcharge'] + df['congestion_surcharge']

df.loc[df['total_amount'] > sum_values]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
2,2.0,2020-12-01 00:33:40,2020-12-01 01:00:35,1.0,16.74,2.0,N,132,164,1.0,52.00,0.0,0.5,2.50,6.12,0.3,63.92,2.5
26,2.0,2020-12-01 00:34:26,2020-12-01 00:50:02,1.0,7.92,1.0,N,138,137,1.0,23.00,0.5,0.5,6.58,6.12,0.3,39.50,2.5
34,2.0,2020-12-01 00:12:55,2020-12-01 00:31:15,1.0,8.06,1.0,N,75,88,1.0,25.00,0.5,0.5,5.76,0.00,0.3,34.56,2.5
37,2.0,2020-12-01 00:14:43,2020-12-01 00:38:13,2.0,10.05,1.0,N,132,225,1.0,30.00,0.5,0.5,6.26,0.00,0.3,37.56,0.0
66,2.0,2020-12-01 00:40:06,2020-12-01 01:05:42,6.0,18.78,2.0,N,132,114,1.0,52.00,0.0,0.5,13.82,0.00,0.3,69.12,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1461859,NaN,2020-12-31 23:08:39,2020-12-31 23:29:10,NaN,0.00,NaN,NaN,158,127,NaN,30.20,0.5,0.5,3.40,0.00,0.3,39.40,2.5
1461873,NaN,2020-12-31 23:28:13,2020-12-31 23:39:49,NaN,0.40,NaN,NaN,61,61,NaN,45.65,0.0,0.5,2.75,0.00,0.3,49.20,0.0
1461874,NaN,2020-12-31 23:33:41,2020-12-31 23:43:17,NaN,0.00,NaN,NaN,151,246,NaN,10.20,0.5,0.5,0.00,0.00,0.3,16.00,2.5
1461879,NaN,2020-12-31 23:17:00,2020-12-31 23:43:00,NaN,13.87,NaN,NaN,127,261,NaN,46.79,0.0,0.5,2.75,0.00,0.3,50.34,0.0
1461881,NaN,2020-12-31 23:26:00,2020-12-31 23:48:00,NaN,12.84,NaN,NaN,232,215,NaN,31.65,0.0,0.5,7.97,0.00,0.3,42.92,2.5

3. Check that dropoff time is later than pickup

In [64]:
df.loc[df['tpep_dropoff_datetime'] < df['tpep_pickup_datetime']]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
980054,1.0,2020-12-21 20:09:21,2020-12-12 07:31:19,3.0,4.70,1.0,N,137,74,2.0,14.00,2.5,0.5,0.0,0.0,0.3,17.30,2.5
1169443,1.0,2020-12-26 19:50:43,2020-12-26 19:36:39,2.0,0.70,1.0,N,107,224,2.0,4.50,3.0,0.5,0.0,0.0,0.3,8.30,2.5
1362562,NaN,2020-12-01 05:12:06,2020-12-01 05:12:02,NaN,1.05,NaN,NaN,265,75,NaN,15.20,0.0,0.5,0.0,0.0,0.3,16.00,0.0
1362642,NaN,2020-12-01 06:12:19,2020-12-01 06:12:03,NaN,6.53,NaN,NaN,265,75,NaN,18.18,0.0,0.5,0.0,0.0,0.3,18.98,0.0
1362700,NaN,2020-12-01 06:12:38,2020-12-01 06:12:03,NaN,10.57,NaN,NaN,265,48,NaN,30.52,0.0,0.5,0.0,0.0,0.3,31.32,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1461842,NaN,2020-12-31 22:12:09,2020-12-31 22:12:02,NaN,1.52,NaN,NaN,265,72,NaN,15.20,0.0,0.5,0.0,0.0,0.3,16.00,0.0
1461853,NaN,2020-12-31 22:12:59,2020-12-31 22:12:03,NaN,7.49,NaN,NaN,265,208,NaN,20.15,0.0,0.5,0.0,0.0,0.3,20.95,0.0
1461878,NaN,2020-12-31 23:12:42,2020-12-31 23:12:02,NaN,10.06,NaN,NaN,265,225,NaN,28.60,0.0,0.5,0.0,0.0,0.3,29.40,0.0
1461885,NaN,2020-12-31 23:12:59,2020-12-31 23:12:04,NaN,15.21,NaN,NaN,265,203,NaN,37.70,0.0,0.5,0.0,0.0,0.3,38.50,0.0
1461890,NaN,2020-12-31 23:12:08,2020-12-31 23:12:03,NaN,2.84,NaN,NaN,265,213,NaN,15.20,0.0,0.5,0.0,0.0,0.3,16.00,0.0

# Descriptive statistic

Statistic for total_amount column (numerical data)

In [66]:
df['total_amount'].describe()

count    1.461897e+06
mean     1.759812e+01
std      3.298461e+02
min     -5.028000e+02
25%      1.082000e+01
50%      1.414000e+01
75%      1.930000e+01
max      3.984677e+05
Name: total_amount, dtype: float64

In [67]:
distance = df[df.trip_distance!= 0]
total = df['total_amount'].sum()
price = df[df.total_amount > 0]

In [69]:
print("Total distance:", len(distance))
print("Total amount spent on taxi rides:", total)
print("The most expensive taxi ride:", price["total_amount"].max())
print("The most cheapest taxi ride:", price["total_amount"].min())
print("The shortest ride:", (distance["trip_distance"].min()*1.6), "km")
print("The longest ride:", (distance["trip_distance"].max()*1.6), "km")

Total distance: 1444544
Total amount spent on taxi rides: 25726645.96
The most expensive taxi ride: 398467.7
The most cheapest taxi ride: 0.01
The shortest ride: 0.016 km
The longest ride: 561463.824 km

# Data Patterns

1. What is the most popular distance per 1 taxi ride (in km)?

In [72]:
df['trip_distance'].describe()*1.6

count    2.339035e+06
mean     9.712624e+00
std      1.418446e+03
min      0.000000e+00
25%      1.584000e+00
50%      2.608000e+00
75%      4.640000e+00
max      5.614638e+05
Name: trip_distance, dtype: float64

2. What is the most popular date for taxi ride?

In [75]:
df['tpep_pickup_datetime'].describe()

count                 1461897
unique                 976063
top       2020-12-03 17:09:22
freq                       11
Name: tpep_pickup_datetime, dtype: object